<header>
  <div class="container">
    <div id = 'appTitle'>
    <a routerLink="/" class="logo"><h1>{{Title}}</h1></a>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">Tweets Search</a></li>
        <li><a routerLink="/contact">Random Tweet Finder</a></li>
      </ul>
    </nav>
  </div>
</header>

<section id = 'showcase'>
  <div class = 'container'>
      <h1>About The App</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptates laboriosam fugiat in veniam aliquam, qui itaque quos quae repellat.</p>
      
    <div id = 'feedback'>
        <h4>I Would Like to have your feedback</h4>
        <form action="">
            <input type="text" placeholder="Enter your comments.....">
            <button type="submit" class = "button#1">Submit</button>
        </form>
      </div>
  </div>
</section>




<footer>
  <p>{{Title}}, Copyright &copy; 2019</p>
</footer>