
<div>
    <h1>Search tweets by username or content</h1>
    <input type="search"  placeholder="Search..."  [(ngModel)]="input" (keyup.enter)="ngOnInit"/>     
    <button (click) = "ngOnInit()">Enter</button>

</div>

<div  class = "myTweets" *ngFor = "let tweet of tweets"> 
        
    <div class = "userName"> 
        <p id = 'name'>{{tweet.user.name}}</p>
        <p id = 'screenName'>@{{tweet.user.screen_name}}</p>
    </div>
    <div class = "text">
        <p>{{tweet.text}}</p>
        <p id = 'time'>created at  {{tweet.created_at}}</p>
    </div>
    
</div>


