<section id = 'showcase'>
  <div class = 'container'>
      <h1>What is it?</h1>
      <p>A fun app to search for most recent tweets by content or username.
        Have fun viewing a random tweet from one of my favorite twitter users. 
      </p>
      
    <div id = 'feedback'>
        <h4>I Would Like to have your feedback</h4>
        <form action="//www.html.am/html-codes/textboxes/submitted.cfm">
          <textarea name="myTextBox" cols="50" rows="5">
          Enter some text...
          </textarea>
          <br />
          <input type="submit" />
          </form>
          
          
      </div>
  </div>
</section>



<footer>
  <p>{{Title}}, Copyright &copy; 2019</p>
</footer>




